@import '~bulma/sass/utilities/_all';
@import './color-palette.scss';

$colors: (
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

html {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  font-family: 'Roboto', sans-serif !important;
}

.app-wrapper {
  height: 100%;
  width: 100%;
}
